Database ve tabloların oluşturulup kayıtların eklenmesi

In [31]:
import psycopg2

# bilgilerimle baglanti kuruyorum.
con = psycopg2.connect(host="localhost", database= "company_db", user= "postgres", password= "Istanbul1235.", port= "5432")
print("Bağlantı başarılı!")

# # baglantimla bir cursor olusturuyorum.
cur = con.cursor()

# veritabanimda bulunan tablolarin isimlerini aliyorum.
cur.execute("""CREATE TABLE IF NOT EXISTS departments (
    emp_id INT PRIMARY KEY,
    dept_name VARCHAR(100),
    dept_id INT  
);
""")



cur.execute("""CREATE TABLE IF NOT EXISTS employees (
    emp_id INT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    salary NUMERIC(10, 2),
    job_title VARCHAR(100),
    gender VARCHAR(10),
    hire_date DATE
);
""")

cur.execute("""
    INSERT INTO departments (emp_id, dept_name, dept_id) VALUES
    (17679, 'Operations', 13),
    (26650, 'Marketing', 14),
    (30840, 'Operations', 13),
    (49823, 'Technology', 12),
    (51821, 'Operations', 13),
    (67323, 'Marketing', 14),
    (71119, 'Administrative', 11),
    (76589, 'Operations', 13),
    (97927, 'Technology', 12);      
""")

cur.execute("""
    INSERT INTO employees (emp_id, first_name, last_name, salary, job_title, gender, hire_date) VALUES
    (17679, 'Robert', 'Gilmore', 110000, 'Operations Director', 'Male', '2018-09-04'),
    (26650, 'Elvis', 'Ritter', 86000, 'Sales Manager', 'Male', '2017-11-24'),
    (30840, 'David', 'Barrow', 85000, 'Data Scientist', 'Male', '2019-12-02'),
    (49714, 'Hugo', 'Forester', 55000, 'IT Support Specialist', 'Male', '2019-11-22'),
    (51821, 'Linda', 'Foster', 95000, 'Data Scientist', 'Female', '2019-04-29'),
    (67323, 'Lisa', 'Wiener', 75000, 'Business Analyst', 'Female', '2018-08-09'),
    (70950, 'Rodney', 'Weaver', 87000, 'Project Manager', 'Male', '2018-12-20'),
    (71329, 'Gayle', 'Meyer', 77000, 'HR Manager', 'Female', '2019-06-28'),
    (76589, 'Jason', 'Christian', 99000, 'Project Manager', 'Male', '2019-01-21'),
    (97927, 'Billie', 'Lanning', 67000, 'Web Developer', 'Female', '2018-06-25');
""")

con.commit()

print("Tablolar başarıyla oluşturuldu.")

Bağlantı başarılı!
Tablolar başarıyla oluşturuldu.

1 - Find the employees who get paid more than Rodney Weaver.

In [ ]:
import psycopg2

# Her sorguda bu bağlantı tekrar kurulmalı
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# ---------------------------------------------------------
cur.execute("""
SELECT first_name, last_name, salary FROM employees
WHERE salary > (
    SELECT salary
    FROM employees
    WHERE first_name = 'Rodney' AND last_name = 'Weaver'
);
""")

rows = cur.fetchall()
for row in rows:
    print(row)
# -------------------------------------------------------------
cur.close()
conn.close()

('Robert', 'Gilmore', Decimal('110000.00'))
('Linda', 'Foster', Decimal('95000.00'))
('Jason', 'Christian', Decimal('99000.00'))

2 - Find the average, min and max salaries

In [ ]:
import psycopg2

# Her sorguda bu bağlantı tekrar kurulmalı
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT AVG(salary), MIN(salary), MAX(salary) FROM employees;
""")

result= cur.fetchone()
print("Ortalama Maaş:", round(result[0],2))
print("En Düşük Maaş:", result[1])
print("En Yüksek Maaş:", result[2])
# -------------------------------------------------------------
cur.close() 
conn.close()

Ortalama Maaş: 83600.00
En Düşük Maaş: 55000.00
En Yüksek Maaş: 110000.00

3 - Find the employees whose salary is more than 8700. Our query should return first name, last name, and salary info of the employees.

In [ ]:
import psycopg2

# Her sorguda bu bağlantı tekrar kurulmalı
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT first_name, last_name, salary FROM employees
WHERE salary > 87000;
""")
rows = cur.fetchall()
for row in rows:
    print(row)
# -------------------------------------------------------------
cur.close() 
conn.close()

('Robert', 'Gilmore', Decimal('110000.00'))
('Linda', 'Foster', Decimal('95000.00'))
('Jason', 'Christian', Decimal('99000.00'))

4 - Find the employees (first name, last name from employees table) who work under the Operations department (departments table). Our query should return first name and last name info.

In [ ]:
import psycopg2

# Her sorguda bu bağlantı tekrar kurulmalı
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT e.first_name, e.last_name FROM employees e
JOIN departments d ON e.emp_id = d.emp_id
WHERE d.dept_name = 'Operations';
""")
rows = cur.fetchall()
for row in rows:
    print(row)
# -------------------------------------------------------------
cur.close() 
conn.close()

('Robert', 'Gilmore')
('David', 'Barrow')
('Linda', 'Foster')
('Jason', 'Christian')

5 - Find the employees (first name, last name from employees table) who work under the Technology department (departments table). Our query should return first name and last name info.

In [32]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT e.first_name, e.last_name FROM employees e
JOIN departments d ON e.emp_id = d.emp_id
WHERE d.dept_name = 'Technology';
""")
rows = cur.fetchall()
for row in rows:
    print(row)
# -------------------------------------------------------------
cur.close() 
conn.close()

('Billie', 'Lanning')

6 - Find the average salary of female employees.

In [33]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT AVG(salary) FROM employees
WHERE gender = 'Female';
""")
avarage = cur.fetchone()[0]
print("Kadın çalışanların ortalama maaşı:", round(avarage, 2))
# -------------------------------------------------------------
cur.close() 
conn.close()

Kadın çalışanların ortalama maaşı: 78500.00

7 - Find the average salaries of each department.

In [34]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT d.dept_name, AVG(e.salary) FROM employees e
JOIN departments d ON e.emp_id = d.emp_id
GROUP BY d.dept_name;
""")
rows = cur.fetchall()
for row in rows:
    print("Departman:", row[0], "| Ortalama Maaş:", round(row[1], 2))
# -------------------------------------------------------------
cur.close() 
conn.close()

Departman: Technology | Ortalama Maaş: 67000.00
Departman: Marketing | Ortalama Maaş: 80500.00
Departman: Operations | Ortalama Maaş: 97250.00

8 - Find the oldest and newest employees.

In [35]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT first_name, last_name, hire_date FROM employees
ORDER BY hire_date ASC
LIMIT 1;
""")
oldest = cur.fetchone()
print("En eski calisan:", oldest)

cur.execute("""
SELECT first_name, last_name, hire_date FROM employees
ORDER BY hire_date DESC
LIMIT 1;
""")
newest = cur.fetchone()
print("En yeni calisan:", newest)
# -------------------------------------------------------------
cur.close() 
conn.close()

En eski calisan: ('Elvis', 'Ritter', datetime.date(2017, 11, 24))
En yeni calisan: ('David', 'Barrow', datetime.date(2019, 12, 2))

9 - Find the hiring date and department of the highest paid employee

In [38]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT e.first_name, e.last_name, e.hire_date, d.dept_name , e.salary
FROM employees e
JOIN departments d ON e.emp_id = d.emp_id
WHERE e.salary = (
    SELECT MAX(salary) FROM employees
);
""")

highest_paid = cur.fetchone()
print("En yüksek maaş alan çalışan:")
print("İsim:", highest_paid[0], highest_paid[1])
print("İşe Başlama Tarihi:", highest_paid[2])
print("Departman:", highest_paid[3])
print("Maaş:", highest_paid[4])
# -------------------------------------------------------------
cur.close() 
conn.close()

En yüksek maaş alan çalışan:
İsim: Robert Gilmore
İşe Başlama Tarihi: 2018-09-04
Departman: Operations
Maaş: 110000.00

10 - Find the hiring date and department of the lowest paid employee

In [ ]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="company_db",
    user="postgres",
    password="Istanbul1235."
)

cur = conn.cursor()
# -------------------------------------------------------------
cur.execute("""
SELECT e.first_name, e.last_name, e.hire_date, d.dept_name , e.salary
FROM employees e
JOIN departments d ON e.emp_id = d.emp_id
WHERE e.salary = (
    SELECT MAX(salary) FROM employees
);
""")

lowest_paid = cur.fetchone()
print("En düşük maaş alan çalışan:")
print("İsim:", lowest_paid[0], lowest_paid[1])
print("İşe Başlama Tarihi:", lowest_paid[2])
print("Departman:", lowest_paid[3])
print("Maaş:", lowest_paid[4])
# -------------------------------------------------------------
cur.close() 
conn.close()

En düşük maaş alan çalışan:
İsim: Robert Gilmore
İşe Başlama Tarihi: 2018-09-04
Departman: Operations
Maaş: 110000.00