Database ve tabloların oluşturulup kayıtların eklenmesi

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('company.db')

conn.execute("""
CREATE TABLE IF NOT EXISTS departments (
    id INTEGER PRIMARY KEY,
    name TEXT
)
""")
conn.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    gender TEXT,
    salary INTEGER,
    hire_date TEXT,
    department_id INTEGER,
    FOREIGN KEY(department_id) REFERENCES departments(id)
)
""")
conn.execute("INSERT OR IGNORE INTO departments (id, name) VALUES (1, 'Operations'), (2, 'Technology')")
conn.execute("""
INSERT OR IGNORE INTO employees (id, first_name, last_name, gender, salary, hire_date, department_id) VALUES
(1, 'Rodney', 'Weaver', 'M', 8000, '2015-06-01', 1),
(2, 'Alice', 'Smith', 'F', 9000, '2017-03-15', 2),
(3, 'Bob', 'Johnson', 'M', 9500, '2018-07-22', 1),
(4, 'Carol', 'Williams', 'F', 8700, '2019-11-30', 2)
""")
conn.commit()

1 - Find the employees who get paid more than Rodney Weaver.

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('company.db')

salary = pd.read_sql("SELECT salary FROM employees WHERE first_name='Rodney' AND last_name='Weaver'", conn).iloc[0,0]
df = pd.read_sql(f"SELECT first_name, last_name, salary FROM employees WHERE salary > {salary}", conn)
df

2 - Find the average, min and max salaries

In [ ]:
df = pd.read_sql("SELECT AVG(salary) as avg_salary, MIN(salary) as min_salary, MAX(salary) as max_salary FROM employees", conn)
df

3 - Find the employees whose salary is more than 8700. Our query should return first name, last name, and salary info of the employees.

In [ ]:
df = pd.read_sql("SELECT first_name, last_name, salary FROM employees WHERE salary > 8700", conn)
df

4 - Find the employees (first name, last name from employees table) who work under the Operations department (departments table). Our query should return first name and last name info.

In [ ]:
df = pd.read_sql("""
SELECT e.first_name, e.last_name FROM employees e
JOIN departments d ON e.department_id = d.id
WHERE d.name = 'Operations'
""", conn)

5 - Find the employees (first name, last name from employees table) who work under the Technology department (departments table). Our query should return first name and last name info.

In [ ]:
df = pd.read_sql("""
SELECT e.first_name, e.last_name FROM employees e
JOIN departments d ON e.department_id = d.id
WHERE d.name = 'Technology'
""", conn)

6 - Find the average salary of female employees.

In [ ]:
df = pd.read_sql("SELECT AVG(salary) as avg_female_salary FROM employees WHERE gender = 'F'", conn)
df

7 - Find the average salaries of each department.

In [ ]:
df = pd.read_sql("""
SELECT d.name as department, AVG(e.salary) as avg_salary
FROM employees e
JOIN departments d ON e.department_id = d.id
GROUP BY d.name
""",

8 - Find the oldest and newest employees.

In [ ]:
df_oldest = pd.read_sql("SELECT first_name, last_name, hire_date FROM employees ORDER BY hire_date ASC LIMIT 1", conn)
df_newest = pd.read_sql("SELECT first_name, last_name, hire_date FROM employees ORDER BY hire_date DESC LIMIT 1", conn)

9 - Find the hiring date and department of the highest paid employee

In [ ]:
df = pd.read_sql("""
SELECT e.hire_date, d.name as department FROM employees e
JOIN departments d ON e.department_id = d.id
WHERE e.salary = (SELECT MAX(salary) FROM employees)
""", conn)

10 - Find the hiring date and department of the lowest paid employee

In [ ]:
df = pd.read_sql("""
SELECT e.hire_date, d.name as department FROM employees e
JOIN departments d ON e.department_id = d.id
WHERE e.salary = (SELECT MIN(salary) FROM employees)
""",